@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    min-height: 100vh;
    font-family: 'Inter';
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
h1,h2,h3,h4,p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

/* Capçalera (no login) */
header.capçalera {
    background-color: #007e11;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
header.capçalera img {
    width: 150px;
}

/* Main content */
.main-content {
    padding: 50px;
    min-height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.main-content h1 {
    font-size: 40px;
}
.text-center {
    text-align: center;
}
.text-bold {
    font-weight: 600;
}
.text-normal {
    font-weight: 400;
}
.mt-3 {
    margin-top: 30px;
}
h1.title {
    line-height: 33px;
}

/* Form control */
.form-control {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: none;
    height: auto;
}
.form-control input, .form-control textarea {
    border: 1px solid #dbdbdb;
    padding: 1rem 1.2rem;
    font-family: 'Inter';
    font-size: 1rem;
}
.form-control .submit {
    font-family: 'Inter';
    background-color: #007e11;
    color: #fff;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.0333em;
    padding: 1.1em 1.44em;
    text-transform: uppercase;
    cursor: pointer;
}
.form-control .submit:disabled {
    cursor:not-allowed;
    opacity: 0.8;
}
.renovacio-form, .acces-form {
    max-width: 500px;
}
.renovacio-menors {
    padding: 20px;
    margin-top: 20px;
    border: 1px solid black;
    display: none;
}
.error-message {
    color: rgb(206, 16, 16);
    font-size: 12px;
}
.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Home page */
#alertes {
    width: 90%;
    margin: 20px;
    position: fixed;
    bottom: 0;
    top: 0;
    height: 20vh;
}
.info-usuari {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 48% auto 48%;
    grid-template-rows: 200px;
}
#info-cuota {
    grid-column: 1;
    grid-row: 1;
}
#info-colonies {
    grid-column: 3;
    grid-row: 1;
}
@media screen and (max-width: 630px) {
    .info-usuari {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px 20px 200px;
    }
    #info-cuota {
        grid-column: 1;
        grid-row: 1;
    }
    #info-colonies {
        grid-column: 1;
        grid-row: 3;
    }
}
  
.info-card {
    background-color:  rgb(177, 177, 177);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.pagat {
    background-color: #98ffa5;
}
.no-pagat {
    background-color: #ffbebe;
}
.logout {
    color: #fff;
    background-color: rgb(158, 0, 0);
    width: 100%;
    margin-top: 50px;
}
.inici {
    color: #fff;
    background-color: #007e11;
    width: 100%;
    margin-top: 50px;
}
.logout:hover, .inici:hover {
    color: #fff;
}
.panel-junta {
    margin-top: 60px;
    width: 100%;
}
.grid-junta {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 48% auto 48%;
    grid-template-rows: 200px;
}
#pagaments-cuotes {
    grid-column: 1;
    grid-row: 1;
    background-color: rgb(2, 105, 173);
}
#pagaments-colonies {
    grid-column: 3;
    grid-row: 1;
    background-color: rgb(223, 148, 9);
}
@media screen and (max-width: 630px) {
    .grid-junta {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px 20px 200px;
    }
    #pagaments-cuotes {
        grid-column: 1;
        grid-row: 1;
    }
    #pagaments-colonies {
        grid-column: 1;
        grid-row: 3;
    }
}
.tasca-junta {
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
@media screen and (max-width: 630px) {
    table .dni {
        display: none;
    }
}

/* Footer */
footer {
    bottom: 0;
    background-color: #007e11;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 20px;
}